* body{
  margin: 0;
  padding: 0;
}

#projects {
  background-color: #161b22;
  padding: 80px 20px;
  text-align: center;
}

#projects h2 {
  font-size: 35px;
  color: #e74c3c;
}

#projects p {
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #161b22;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 22px;
}

#contact {
  background-color: #0d1117;
  padding: 80px 20px;
  text-align: center;
}

#contact h2 {
  font-size: 35px;
  color: #3498db;
}

#contact p {
  font-size: 20px;
}

#about {
  background-color: #22272e;
  padding: 80px 20px;
  text-align: center;
}

#about h2 {
  font-size: 35px;
  color: #f39c12;
}

#about p {
  font-size: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.para {
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  color: #b0b0b0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  overflow: hidden;
  
}
.no-scroll {
  overflow: hidden;
  touch-action: none; /* disables zooming/panning on mobile */
}
html, body {
  overflow-x: hidden;
  max-width: 100vw;
}



@media (min-width: 1024px) {
  .para {
    width: 600px;
    margin-left: 100px;
  }
}